<a href="https://colab.research.google.com/github/NavyaKiran/NavyaKiran/blob/main/Copy_of_Data_Puzzle_Earth's_PSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro

Here's is the message from Earth:
'I remember that if you sort the countries (or dependencies) [Guinea, Iran, Trinidad And Tobago, Honduras, Lebanon, Ethiopia, Niger, Afghanistan, India, American Samoa, Cuba, Gabon, Nicaragua, Channel Islands, Martinique] by density of population (DESCENDING) and then only look at the first letter of each country, you'll get my message back!! Can you help me please?'

To help our planet, we preloaded world population and geographical data from the website Worldometer (https://worldometers.info/). Use it to do what the earth says and decode the message!

In [ ]:
import pandas as pd

countries = ['Guinea', 'Iran', 'Trinidad and Tobago', 'Honduras', 'Lebanon',
             'Ethiopia', 'Niger', 'Afghanistan', 'India', 'American Samoa',
             'Cuba', 'Gabon', 'Nicaragua', 'Channel Islands', 'Martinique']

country_pop = pd.read_csv('https://raw.githubusercontent.com/hyperc54/data-puzzles-assets/master/misc/earth/population_by_country.csv')

In [ ]:
country_pop.head()

,Country (or dependency),Population (2020),Yearly Change,Urban Pop %,World Share
0,China,1440297825,0.39 %,61 %,18.47 %
1,India,1382345085,0.99 %,35 %,17.70 %
2,United States,331341050,0.59 %,83 %,4.25 %
3,Indonesia,274021604,1.07 %,56 %,3.51 %
4,Pakistan,221612785,2.00 %,35 %,2.83 %

In [ ]:
country_surface = pd.read_csv('https://raw.githubusercontent.com/hyperc54/data-puzzles-assets/master/misc/earth/surface_by_country.csv')

In [ ]:
country_surface.head()

  Country (or dependency)  Land Area (Km²)
0                   China          9388211
1                   India          2973190
2           United States          9147420
3               Indonesia          1811570
4                Pakistan           770880

In [ ]:
# Your turn now!

In [ ]:
merged = country_pop.merge(country_surface, on = 'Country (or dependency)')
merged.head()

,Country (or dependency),Population (2020),Yearly Change,Urban Pop %,World Share,Land Area (Km²)
0,China,1440297825,0.39 %,61 %,18.47 %,9388211
1,India,1382345085,0.99 %,35 %,17.70 %,2973190
2,United States,331341050,0.59 %,83 %,4.25 %,9147420
3,Indonesia,274021604,1.07 %,56 %,3.51 %,1811570
4,Pakistan,221612785,2.00 %,35 %,2.83 %,770880

In [ ]:
merged['density'] = merged['Population (2020)']/merged['Land Area (Km²)']
merged.head()

,Country (or dependency),Population (2020),Yearly Change,Urban Pop %,World Share,Land Area (Km²),density
0,China,1440297825,0.39 %,61 %,18.47 %,9388211,153.415579
1,India,1382345085,0.99 %,35 %,17.70 %,2973190,464.936679
2,United States,331341050,0.59 %,83 %,4.25 %,9147420,36.222350
3,Indonesia,274021604,1.07 %,56 %,3.51 %,1811570,151.261946
4,Pakistan,221612785,2.00 %,35 %,2.83 %,770880,287.480263

In [ ]:
merged = merged[merged['Country (or dependency)'].isin(countries)]

In [ ]:
merged.sort_values('density', ascending = False, inplace = True)
merged.head()

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,Country (or dependency),Population (2020),Yearly Change,Urban Pop %,World Share,Land Area (Km²),density
189,Channel Islands,174140,0.93 %,30 %,0.00 %,190,916.526316
108,Lebanon,6819976,-0.44 %,78 %,0.09 %,10230,666.664321
1,India,1382345085,0.99 %,35 %,17.70 %,2973190,464.936679
178,Martinique,375213,-0.08 %,92 %,0.00 %,1060,353.974528
209,American Samoa,55169,-0.22 %,88 %,0.00 %,200,275.845000

In [ ]:
merged['first_letter'] = merged['Country (or dependency)'].apply(lambda x:x[0])
merged.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Country (or dependency),Population (2020),Yearly Change,Urban Pop %,World Share,Land Area (Km²),density,first_letter
189,Channel Islands,174140,0.93 %,30 %,0.00 %,190,916.526316,C
108,Lebanon,6819976,-0.44 %,78 %,0.09 %,10230,666.664321,L
1,India,1382345085,0.99 %,35 %,17.70 %,2973190,464.936679,I
178,Martinique,375213,-0.08 %,92 %,0.00 %,1060,353.974528,M
209,American Samoa,55169,-0.22 %,88 %,0.00 %,200,275.845000,A

In [ ]:
merged['first_letter'].astype(str)

189    C
108    L
1      I
178    M
209    A
153    T
11     E
82     C
91     H
36     A
109    N
74     G
17     I
55     N
145    G
Name: first_letter, dtype: object